[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-community = "*"
langchain-core = "*"
ollama = "*"
boto3 = "*"

[dev-packages]

[requires]
python_version = "3.12"
